<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui,viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>com.julian-baumann.personio-deck Property Inspector</title>
    <link rel="stylesheet" href="../../../libs/css/sdpi.css" />
</head>

<body>
    <div class="sdpi-wrapper">
        <form id="property-inspector">
            <p><span style="color: #FF6666;">Caution:</span> When you manually set a title, the default timer that displays the actively tracked time will be disabled.</p>

            <hr />

            <div class="sdpi-item">
                <div class="sdpi-item-label" title="My name">Client ID</div>
                <input class="sdpi-item-value" name="clientId" type="text" value="" placeholder="papi-4h5b532-6..." />
            </div>

            <div class="sdpi-item">
                <div class="sdpi-item-label" title="My name">Client Secret</div>
                <input class="sdpi-item-value" name="clientSecret" type="text" value="" placeholder="papi-83nf93b-9..." />
            </div>

            <div class="sdpi-item">
                <div class="sdpi-item-label" title="My name">Employee ID</div>
                <input class="sdpi-item-value" name="employeeId" type="text" value="" placeholder="20567381" />
            </div>

            <div class="sdpi-item">
                <div class="sdpi-item-label" title="My name">Project ID</div>
                <input class="sdpi-item-value" name="projectId" type="text" value="" placeholder="86251" />
            </div>
        </form>
    </div>

    <div class="sdpi-info-label hidden" style="top: -1000" value=""></div>

    <!-- Stream Deck Libs -->
    <script src="../../../libs/js/constants.js"></script>
    <script src="../../../libs/js/prototypes.js"></script>
    <script src="../../../libs/js/timers.js"></script>
    <script src="../../../libs/js/utils.js"></script>
    <script src="../../../libs/js/events.js"></script>
    <script src="../../../libs/js/api.js"></script>
    <script src="../../../libs/js/property-inspector.js"></script>
    <script src="../../../libs/js/dynamic-styles.js"></script>

    <!-- Property Inspector Source -->
    <script src="inspector.js"></script>
</body>

</html>
